<div style="width: 30rem">
  <mat-card class="example-card">
    <img mat-card-image src="/assets/MSB106202.webp" alt="Photo">
    <mat-card-content>
      <h2>Haiti: Ärzte ohne Grenzen besorgt über eingeschränkte Gesundheitsversorgung</h2>
      <p>In Haiti wird das Benzin knapp - mit drastischen Folgen für die Gesundheitsversorgung. Auch die Sicherheitslage ist weiterhin sehr angespannt.</p>
      <table style="width: 100%">
        <tr>
          <th>Crypto invested</th>
          <th>Project Name</th>
          <th>Country</th>
        </tr>
        <tr style="text-align: center">
          <td>250 MSF Coins</td>
          <td>Fuel in Haiti</td>
          <td>Haiti</td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button style="background-color: white">Details</button>
      <button mat-raised-button style="background-color: white" (click)="openDonationDialog()" >
        Donate
      </button>

      <button mat-raised-button *ngIf="this.donated" style="background-color: white; float: right" (click)="openProgressDialog()" >
        Progress
      </button>

    </mat-card-actions>
  </mat-card>
</div>
