<div style="width: 30rem">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <img mat-card-image src="/assets/MSB106202.webp" alt="Photo">
    <mat-card-content>
      <h3>Haiti: Ärzte ohne Grenzen besorgt über eingeschränkte Gesundheitsversorgung</h3>
      <p>In Haiti wird das Benzin knapp - mit drastischen Folgen für die Gesundheitsversorgung. Auch die Sicherheitslage ist weiterhin sehr angespannt.</p>
      <table>
        <tr>
          <th>Crypto invested</th>
          <th>Project Name</th>
          <th>Country</th>
        </tr>
        <tr>
          <td>250 MSF Coins</td>
          <td>Fuel in Haiti</td>
          <td>Haiti</td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

</div>
