<div style="width: 30rem">
  <mat-card class="example-card">
    <img mat-card-image src="/assets/{{project.image}}" alt="Photo">
    <mat-card-content>
      <h3>{{project.header}}</h3>
      <p>{{project.description}}</p>
      <table style="width: 100%">
        <tr>
          <th>Crypto invested</th>
          <th>Project Name</th>
          <th>Country</th>
        </tr>
        <tr style="text-align: center">
          <td>{{project.msfCoins}} MSF Coins</td>
          <td>{{project.projectName}}</td>
          <td>{{project.country}}</td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button style="background-color: white" (click)="openProjectDetails()">Details</button>
      <button mat-raised-button style="background-color: white" (click)="openDonationDialog(project.projectName)" >
        Donate
      </button>

      <button mat-raised-button *ngIf="this.donated" style="background-color: white; float: right" (click)="openProgressDialog()" >
        Progress
      </button>
    </mat-card-actions>
  </mat-card>
</div>
