<header>
  <img src="/assets/haiti-erdbeben-113~_v-gross20x9.jpg" width="100%">
</header>
<div style="padding-left: 20%; padding-right: 20%; padding-top: 3rem">
<h1 style="font-size: xx-large">Haiti: Ärzte ohne Grenzen besorgt über eingeschränkte Gesundheitsversorgung </h1>

<mat-card>
  <mat-card-title>Current Donation status</mat-card-title>
  <mat-progress-bar value="{{ this.donatedPercentage }}"></mat-progress-bar>
  <div id="donated">€ {{ this.donated | number }}</div>
  donated of € {{ this.goal | number }} goal
</mat-card>

<h2 style="margin-top: 30px;">Port-au-Prince/Berlin, 27. Oktober 2021. Die Benzinknappheit der vergangenen Tage in Haiti bedroht den Zugang zu medizinischer Versorgung im Land. Ärzte ohne Grenzen war gezwungen, im Trauma-Krankenhaus in Tabarre in der Hauptstadt Port-au-Prince die Zahl der Patient*innen zu begrenzen und nur lebensbedrohliche Fälle behandeln zu können. Der Betrieb zahlreicher anderer privater und öffentlicher medizinischer Einrichtungen ist ebenfalls unterbrochen. Angesichts des dringenden Bedarfs ruft Ärzte ohne Grenzen die verschiedenen Akteure innerhalb des Staates auf, Schritte einzuleiten, die eine Versorgung der Gesundheitseinrichtungen mit Treibstoff sicherstellen.</h2>

<p style="font-size: large; line-height: 1cm">„Ohne Benzin können wir unser Krankenhaus nicht betreiben", sagt Kanouté Dialla, Leiter des Krankenhauses von Tabarre. „Wir tun unser Bestes, um unsere Aktivitäten aufrechtzuerhalten, indem wir sie von Tag zu Tag anpassen, aber diese Situation ist untragbar. Das Krankenhaus ist das einzige Zentrum im Land, das sich auf die Behandlung von schweren Verbrennungen spezialisiert hat."

Aufgrund des unzureichenden Stromnetzes verwenden die Einrichtungen von Ärzte ohne Grenzen Generatoren, wie das Zentrum für die Behandlung schwerer Verbrennungen, um die medizinische Hilfe aufrechtzuerhalten. Die Benzinknappheit gefährdet den Betrieb dieser Einrichtungen.

Wegen des Benzinmangels können auch unsere Mitarbeiter*innen das Krankenhaus schlechter erreichen, was sich auf den Standard der Versorgung im Traumazentrum auswirkt. „Heute können nur zehn Prozent des Personals zur Arbeit kommen", sagt Dialla. „Wir organisieren Transporte für unsere Mitarbeiter*innen, so dass wir die für den Betrieb des Krankenhauses erforderlichen Mindestrotationen gewährleisten können. So erhöht sich die Arbeitsbelastung für das anwesende medizinische Personal erheblich. Diese Situation ist unhaltbar."

Das Notfallzentrum von Ärzte ohne Grenzen im Stadtteil Turgeau von Port-au-Prince, das Patient*innen an das Krankenhaus Tabarre überweist, ist ebenfalls von der Krise betroffen. Für das Zentrum wird es immer schwieriger, Patient*innen weiterzuleiten, die eine Krankenhausbehandlung benötigen. „Mehr als die Hälfte der Patient*innen, die im Krankenhaus Tabarre behandelt werden, werden vom Notfallzentrum Turgeau überwiesen", sagt Désiré Kimanuka, Leiterin des Notfallzentrums. „Wenn die Leistungen reduziert werden, erhalten diese Patienten möglicherweise nicht die Behandlung, die sie benötigen."

Die Benzinknappheit ist eine zusätzliche Herausforderung in einer bereits komplizierten Sicherheitslage. Aufgrund der Unbeständigkeit dieser Situation und des hohen medizinischen Bedarfs passt Ärzte ohne Grenzen die Projekte weiter an, um die Gesundheitsversorgung der haitianischen Bevölkerung aufrechtzuerhalten.

  Ärzte ohne Grenzen arbeitet seit mehr als 30 Jahren in Haiti. Die Arbeit konzentriert sich auf lebensrettende medizinische Nothilfe für Menschen, die von Gewalt, Verbrennungen, Verkehrsunfällen und sexueller Gewalt betroffen sind, sowie auf Geburtshilfe. In jüngster Zeit versorgt Ärzte ohne Grenzen auch Vertriebene in mehreren Gebieten von Port-au-Prince. Nach dem schweren Erdbeben, das den Süden der Insel am 14. August erschütterte, unterstützt die Organisation mehrere Gesundheitsstrukturen, insbesondere in Jérémie und Les Cayes.
</p>
</div>
